* {font-family: 微软雅黑, 宋体, san-serif!important}

.singleDrawRegion { 
    float: left; 
    margin: 5px 10px 5px 10px; 
    width: 27%; 
    height: 190px;
    border: 1px solid #81F79F;
    background-color: #FBF2EF; 
    padding: 5px;
}

.piechartDrawRegion {
	float: left; 
    height: 450px;
    padding: 5px 10px 5px 10px;
    width: 45%;
    border: 1px solid #81F79F;
    background-color: #FBF2EF; 
    margin: 10px 5px;
}

.chartdiv {
   position: relative;
   width: 98%;
   height: 160px;
   top: 5px;
}

.drawTitleText {
   position: relative;
   height: 30px;
   font-weight: bold; 	
}

#zoomUpDiv { 
    display: none; 
    position: absolute;
    top: 20px;
    left: 10px;
    margin: 20px 15px 10px 10px; 
    width: 95%; 
    height: 80%;
    z-index: 5;
}

.zoomedUpDivStyle {
    margin: 30px 30px 20px 30px; 
    width: 88%; 
    height: 400px;
    border: 1px solid #81F79F; 
    background-color: #FBF2EF; 
    padding: 5px;
}

#zoomUpRegion {
	border: none;
	background-color: #fff;
}

h3 {
	clear: left;
}

p {
	clear: left;
}

.clear {
	clear: both;
}
