<div class="wrap">
    创意名称: $!creative.title
    点击链接：<input type="text" name="clickUrl" value="$!{creative.content.click}"/>
    支持尺寸：
    固定: 760*90 728*90 580*90 468*60 960*60 460*60 640*60 960*90 250*250 200*200 336*280 
        300*250 360*300 160*600 120*600 640*96  悬浮: 120*120 贴片: 400*300
    尺寸示例:       
  <a class="J_dialog" target="_blank" href="/api/creatives/edit?id=$!campaign.getId()" class="mr5">[确定]</a>       
  <a class="J_dialog" target="_blank" href="/api/creatives/detail?id=$!campaign.getId()" class="mr5">[取消]</a> 
</div>